*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Inter', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #425757;
}
::-webkit-scrollbar-thumb {
  background: #20232a;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 50px;
  transition: 0.5s;
}
header nav {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
}
header nav ul li {
  padding: 10px 45px;
  position: relative;
  overflow-x: hidden;
}
header nav ul li a {
  cursor: pointer;
}
header nav ul li a::after {
  transition: 0.5s;
  display: block;
  transform: translateX(-110%);
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ff3146;
  z-index: 10;
}
header nav ul li a:hover::after {
  transform: translateX(0);
}

header nav ul li a:hover {
  transition: 0.3s;
  color: #ff3146;
}
header nav .logo {
  font-size: 48px;
  font-weight: bold;
  color: #ff3146;
  /* text-shadow: 3px 2px #fff; */
  z-index: 1500;
}
header.sticky {
  background: #20232a;
  transition: 0.5s;
}
.menu {
  width: 24px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
  z-index: 1500;
}
.menu-item {
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
.active-menu .menu-item {
  position: absolute;
  left: 0;
  bottom: 10px;
}
.active-menu .menu-item:first-child {
  transform: rotate(45deg);
}
.active-menu .menu-item:last-child {
  transform: rotate(-45deg);
}
.active-nav {
  display: flex;
  transform: translateY(100%);
  transition: 0.5s;
}
header .switcher {
  z-index: 1500;
  cursor: pointer;
}
header .switcher svg {
  width: 40px;
  height: 20px;
}
header .switcher svg circle {
  transition: 0.5s;
}
header .switcher svg:hover circle {
  transform: translateX(24px);
}
section.intro {
  background: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.deco-frame,
.deco-cross,
.deco-ellipse,
.deco-rumb {
  position: absolute;
}
.deco-frame {
  top: 20vh;
  right: 3vw;
  z-index: 200;
}
.deco-frame svg {
  width: 54px;
  height: 54px;
  opacity: 0.5;
}
.deco-frame path {
  fill: #61dbfb;
}
.deco-cross {
  right: 30vw;
  top: 30vh;
}
.deco-cross svg {
  width: 52px;
  height: 52px;

  opacity: 0.5;
}
.deco-ellipse {
  right: 50vw;
  top: 55vh;
}
.deco-ellipse svg {
  width: 40px;
  height: 40px;

  opacity: 0.5;
}
.deco-rumb {
  right: 30vw;
  top: 85vh;
}
.deco-rumb svg {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.intro__inner {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.intro__text h1 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.14em;
}
.intro__text p {
  font-size: 18px;
  color: #888888;
  margin: 25px 0 40px;
}

.btn {
  transition: border-color 0.5s linear 0.75s;
  padding: 14px 52px;
  font-size: 18px;
  display: inline-block;
  position: relative;
  border: 2px solid #fff;
}
.btn span {
  z-index: 3;
  position: relative;
}
.btn::before {
  transition: 0.5s;
  transition-delay: 0.5s;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  top: 5px;
  left: -3px;
  background: #282c34;
  transform: scaleY(1);
}
.btn::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  height: calc(100% + 6px);
  width: calc(100% - 10px);
  left: 5px;
  top: -3px;
  background: #282c34;
  transform: scaleX(1);
}
.btn:hover::before {
  transform: scaleY(0);
}
.btn:hover::after {
  transform: scaleX(0);
}
.btn:hover {
  border-color: #ff3146;
}
.intro__logo {
  pointer-events: none;
  font-size: 250px;
  color: #fff;
  font-weight: 700;
  padding: 30px;
  /* font-family: "Poppins", sans-serif; */
  animation: logoFadeIn 2s linear;
  /* text-shadow: -10px -7px #00fde8, 11px 6px #ff3146; */
  z-index: 300;
  position: relative;
  animation: logoFadeIn 2s linear;
}
@keyframes logoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro__logo::before,
.intro__logo::after {
  content: "A";
  color: #fff;
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 30px;
}
.intro__logo::before {
  left: 5px;
  text-shadow: -8px 0 #ff3146;
  animation: glitch-before 2s linear 0s infinite alternate;
}
.intro__logo::after {
  left: -5px;
  text-shadow: -8px 0 #00fde8;
  animation: glitch-after 2s linear 0s infinite alternate;
}

@keyframes glitch-before {
  0% {
    clip: rect(18px, 350px, 94px, 30px);
  }
  5% {
    clip: rect(26px, 350px, 135px, 30px);
  }
  10% {
    clip: rect(178px, 350px, 167px, 30px);
  }
  15% {
    clip: rect(228px, 350px, 33px, 30px);
  }
  20% {
    clip: rect(240px, 350px, 217px, 30px);
  }
  25% {
    clip: rect(213px, 350px, 169px, 30px);
  }
  30% {
    clip: rect(103px, 350px, 88px, 30px);
  }
  35% {
    clip: rect(211px, 350px, 28px, 30px);
  }
  40% {
    clip: rect(286px, 350px, 38px, 30px);
  }
  45% {
    clip: rect(161px, 350px, 65px, 30px);
  }
  50% {
    clip: rect(331px, 350px, 13px, 30px);
  }
  55% {
    clip: rect(224px, 350px, 74px, 30px);
  }
  60% {
    clip: rect(242px, 350px, 162px, 30px);
  }
  65% {
    clip: rect(264px, 350px, 87px, 30px);
  }
  70% {
    clip: rect(50px, 350px, 209px, 30px);
  }
  75% {
    clip: rect(320px, 350px, 69px, 30px);
  }
  80% {
    clip: rect(173px, 350px, 191px, 30px);
  }
  85% {
    clip: rect(206px, 350px, 22px, 30px);
  }
  90% {
    clip: rect(96px, 350px, 191px, 30px);
  }
  95% {
    clip: rect(19px, 350px, 168px, 30px);
  }
  100% {
    clip: rect(213px, 350px, 87px, 30px);
  }
}
@keyframes glitch-after {
  0% {
    clip: rect(54px, 350px, 216px, 30px);
  }
  5% {
    clip: rect(111px, 350px, 105px, 30px);
  }
  10% {
    clip: rect(57px, 350px, 108px, 30px);
  }
  15% {
    clip: rect(239px, 350px, 150px, 30px);
  }
  20% {
    clip: rect(159px, 350px, 65px, 30px);
  }
  25% {
    clip: rect(198px, 350px, 163px, 30px);
  }
  30% {
    clip: rect(30px, 350px, 38px, 30px);
  }
  35% {
    clip: rect(41px, 350px, 109px, 30px);
  }
  40% {
    clip: rect(241px, 350px, 180px, 30px);
  }
  45% {
    clip: rect(258px, 350px, 13px, 30px);
  }
  50% {
    clip: rect(205px, 350px, 25px, 30px);
  }
  55% {
    clip: rect(342px, 350px, 73px, 30px);
  }
  60% {
    clip: rect(63px, 350px, 12px, 30px);
  }
  65% {
    clip: rect(283px, 350px, 44px, 30px);
  }
  70% {
    clip: rect(193px, 350px, 246px, 30px);
  }
  75% {
    clip: rect(222px, 350px, 187px, 30px);
  }
  80% {
    clip: rect(386px, 350px, 28px, 30px);
  }
  85% {
    clip: rect(115px, 350px, 140px, 30px);
  }
  90% {
    clip: rect(65px, 350px, 101px, 30px);
  }
  95% {
    clip: rect(251px, 350px, 127px, 30px);
  }
  100% {
    clip: rect(59px, 350px, 235px, 30px);
  }
}

.intro__deco {
  position: absolute;
  bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  pointer-events: none;
  user-select: none;
}
.intro__deco .line svg {
  width: 450px;
  opacity: 0.5;
}
.intro__deco .deco-items svg {
  width: 26px;
  height: 26px;
  margin: 0 5px;
  transition: 0.3s;
}
.intro__deco .deco-items svg:nth-child(1) path {
  transition: 0.3s;
  fill: #ff3146;
}
.intro__deco .deco-items svg:nth-child(2) path {
  transition: 0.3s;
  fill: #00fde8;
}
section.about {
  background: #20232a;
  padding: 70px 20px;
}
h2.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  letter-spacing: 0.1em;
}
h2.title::after {
  content: "";
  height: 2px;
  width: 150px;
  background: #d00000;
  margin: 12px auto 24px;
  z-index: 5;
  display: block;
}
p.subtitle {
  text-align: center;
  color: #888888;
  font-size: 20px;
}
.about__inner {
  max-width: 1440px;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}
.about__text p {
  font-size: 18px;
  color: #888888;
  letter-spacing: 0.08em;
  max-width: 800px;
}
.about__text p:not(:first-child) {
  margin-top: 36px;
}
.about__img {
  margin-left: 30px;
  position: relative;
  overflow: hidden;
  width: 300px;
  min-width: 250px;
}
.about__img img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.about__deco {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}
.about__deco svg {
  width: 26px;
  height: 26px;
}
.about__deco span {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}
.about__deco span:first-child {
  text-shadow: -3px -2px #00fde8, 4px 1px #ff3146;
}
.skills {
  max-width: 1024px;
  overflow-x: hidden;
  margin: 150px auto 50px;
  display: flex;
  transition: 0.5s;
  justify-content: space-around;
}
.skill-item {
  transition: 0.3s;
}
.skills .skill-item img {
  width: 60px;
  pointer-events: none;
  user-select: none;
}
section.works {
  padding: 70px 20px;
  background: #282c34;
}

.works__inner {
  max-width: 1440px;
  margin: 80px auto 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.works__item {
  width: 390px;
  padding: 10px;
  margin: 10px;
  background: #20232a;
  transition: 0.5s;
  border-radius: 10px;
  position: relative;
}
.works__item::before {
  transition: 0.5s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: #d00000;
  content: "";
}
.works__item:hover::before {
  background: #61dbfb;
}
.works__item:hover {
  transform: translateY(-10px);
}
.works__item p {
  color: #888888;
  letter-spacing: 0.04em;
  line-height: 170%;
  margin-top: 20px;
}
.works__img {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.works__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.5s;
  cursor: pointer;
}
.works__img img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.works__item .tags {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.works__item .tags span.red {
  color: #e34c26;
}
.works__item .tags span.blue {
  color: #264de4;
}
.works__item .tags span.yellow {
  color: #f0db4f;
}
.works__item .tags span.green {
  color: #7af04f;
}
/**          media            */

@media (max-width: 1023.98px) {
  .intro__deco .line {
    display: none;
  }
  .intro__deco {
    justify-content: flex-end;
  }
  .intro__text h1 {
    font-size: 48px;
  }
  .intro__text p {
    font-size: 16px;
  }
  .intro__text .btn {
    font-size: 16px;
    padding: 10px 44px;
  }
  .works__item {
    width: 300px;
  }
}
@media (max-width: 767.98px) {
  header nav ul {
    transition: 0.5s;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    transition: 0.5s;
    height: 100vh;
    justify-content: space-evenly;
    padding: 15vh 0;
    align-items: center;
    background: #20232a;
    z-index: 500;
  }
  .menu {
    display: flex;
  }
  .intro__logo {
    font-size: 180px;
    /* text-shadow: -8px -5px #00fde8, 9px 5px #ff3146; */
    margin-left: 30px;
  }
  #frame,
  #cross,
  #ellipse,
  #rumb {
    width: 32px;
    height: 32px;
  }
  #ellipse {
    top: 62vh;
  }

  .btn::before,
  .btn::after {
    display: none;
  }
  .btn {
    border-color: #ff3146;
  }
  .about__inner {
    flex-direction: column;
    margin-top: 70px;
  }
  .skills {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .works__inner {
    margin-top: 50px;
  }
  h2.title {
    font-size: 36px;
  }
  p.subtitle {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  header {
    padding: 0 20px;
  }
  header nav .logo {
    font-size: 36px;
  }
  .intro__inner {
    flex-direction: column;
    align-items: center;
  }
  .intro__logo {
    order: -1;
  }
  .deco-cross {
    left: 12vw;
    top: 25vh;
  }
  .deco-rumb {
    bottom: 12vh;
    right: 20vw;
  }
  .deco-ellipse {
    top: 48vh;
  }
  .about__inner {
    margin-top: 40px;
  }
  .about__text p {
    font-size: 16px;
  }
  .about__text p:not(:first-child) {
    margin-top: 20px;
  }
  .skills {
    margin-top: 30px;
    margin-bottom: 0;
  }
  section.about,
  section.works {
    padding: 40px 20px;
  }
}
@media (max-width: 374.98px) {
  .intro__text h1 {
    font-size: 40px;
  }
}
